<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='rubia.ico' type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <p><%= pregunta %></p>  
  
  
  <form action="/quizes/answer">
    <label>respuesta</label>  
    <input type="text" name="respuesta" />
    <input type="submit" value="Enviar"/>
  </form>
  


  </body>
</html>