<%= quiz.pregunta  %>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<label>respuesta</label>  
	<input type="text" name="respuesta" />
	<input type="submit" value="Enviar"/>
</form>
  
<a href="/quizes/<%= quiz.id %>/comments/new"> <button>Nuevo Comentario</button> </a>

<%for(index in quiz.comments){%>
	<p>- <%= quiz.comments[index].texto %></p>
<%}%>