<table border="1" width="100%">
	<tr>
		<td colspan="2">Estadisticas</td>
	</tr>

	<tr>
		<td width="50%">Cantidad de Preguntas</td>
		<td width="50%"><%= objeto.cantidadQuizes %></td>
	</tr>		
	<tr>
		<td width="50%">Cantidad de Comentarios</td>
		<td width="50%"><%= objeto.cantidadComentarios %></td>
	</tr>
</table>